*{
    margin: 0;
    padding: 0;
}

.banner-omni{
    background-color: black ;
    justify-content: start;
}

.banner-omni img{
    height: 100px;
    width: auto;
}

.fondo-ppal{
    background-color: black;
   
}



.contenedor-ppal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-image: url('../img/LogoTumom.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    height: 80vh;
}


h1{
    color: #53cfcf;
    font-size: x-large;
    font-weight: bold;
}

.contenedor-login{
    border-radius: 10px;
    border-color: #E0E75B;
    display: grid;
    grid-template-columns: repeat(2,100px);
    grid-template-rows: repeat(2,100px);
    justify-content: flex-start;
    align-items: center;
    
    width: 40%;
    height: 40%;
    /*Fondo transparente*/
    background-color: whitesmoke;
    opacity: 0.5;
}



footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}